.dropTarget {
    height: 30px; 
    margin: 5px;
    padding: 5px;
}

.dropTargetInner {
    height: 26px;
    margin: 2px;
}

.dragHighlighted {
    background-color : yellow;
    border: solid 1px silver;
    border-radius: 3px;
}

.dragNotHighlighted {
   
}