<mat-card class="quiz" *ngIf="typedQuestion">
    <mat-card-content>
        <form [formGroup]="form">
                
            <section class="typedQuestion">
                    <ng-katex [equation]="typedQuestion.getLabel()" style="font-size:x-small"></ng-katex>
            </section>

            <section *ngFor="let answer of typedQuestion.displayAnswers();let i = index">
                    <div class="answer">
                        
                        <p-radioButton 
                                name="answers" 
                                formControlName="answer"
                                value="{{answer}}" 
                                ></p-radioButton>
                                <span>{{answer}}</span>
                        </div>
          </section>

            <section class="actions">
                    <button type="button" style="width:100%; margin: 3px;" pButton label="Submit" (click)="checkAnswer()"></button>
            </section>
        </form>
    </mat-card-content> 
    </mat-card>

