.pageContainer {
    max-width : 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
} 

.lesson {
    flex: 1;
}

.quizArea {
    width: 400px;
}

.quiz {
    margin-left: 5px;
    

    width: 100%;
}

.progressBar {
    display: flex;
    flex-direction: row;
}

.progressItem {
    flex: 1;
    background-color: silver;
    margin: 2px;
}

.success {
    background-color: red;
}

.error {
    background-color: green;
}

.current {
    background-color: orange;
}

.answer {
    margin: 15px;
    min-height: 40px;
}



