<section *ngIf="lesson">
        <h1 class="mat-title">{{lesson.title}}</h1>
        <h2 class="mat-subheading-1">{{lesson.subtitle}}</h2>
</section>
<section>
    <div>
        {{ lessonProgresses | json  }}
    </div>
</section>
<section class="pageContainer">
            
              
              <section>
                  <mat-card>
                      <mat-card-title>Learning Objectives</mat-card-title>
                        <app-cp-learning-objective 
                            *ngFor="let lo of learningObjectives" 
                            [lo]="lo"
                            (statusChange)="onStatusChange($event)"
                            >
                        </app-cp-learning-objective>
                  </mat-card>
              </section>
              
              <section *ngFor="let section of sections">
                    <hr>
                  <mat-card>
                      <mat-card-title>{{section.title}}</mat-card-title>
                      <mat-card-content>
                            <div [innerHtml]="section.content"></div>
                      </mat-card-content>
                      <mat-card-actions>
                            <mat-checkbox #chk (change)="onCompletedChange(section, chk);" [checked]="checkSectionComplete(section.id)">Completed</mat-checkbox>
                      </mat-card-actions>
                </mat-card>
              </section>

</section>


