<section class="jumbotron">
  This is the jumbotron.
  <span>{{moduleId}}</span>
  
</section>

<section *ngIf="lessons; else loading" class="moduleContent">
  <div class="moduleDescription">
    <H2 class="mat-h2">Summary</H2>
    <h2 class="mat-h2">Content</h2>
    <h2 class="mat-h2">Feedback</h2>
  </div>
  <div class="moduleLessons">
    <h3 class="mat-h2">Lessons</h3>
    <table>
      <tr *ngFor="let lesson of lessons; let i = index">
        <td>
          <a routerLink="/lesson/{{lesson.id}}">Lesson {{i  + 1 }}</a></td>
        <td><b>{{lesson.title}}</b></td>
        <td><i>{{lesson.subtitle}}</i></td>
      </tr>
    </table>
  </div>
</section>

<ng-template #loading>
  Data Loading
</ng-template>
