<section class="jumbotron">
  This is the jumbotron.
  <span>{{moduleId}}</span>
</section>

<section class="moduleContent">
  <div class="moduleDescription">
    <H2 class="mat-h2">Summary</H2>
    <h2 class="mat-h2">Content</h2>
    <h2 class="mat-h2">Feedback</h2>
  </div>
  <div class="moduleLessons">
    <h3 class="mat-h2">Lessons</h3>
    <table>
      <tr>
        <td>Lesson 1</td>
        <td><b>Introduction</b></td>
        <td><i>Overview of Programming</i></td>
      </tr>
      <tr>
          <td>Lesson 2</td>
          <td><b>Sequence 1</b></td>
          <td><i>Sequence Commands, Input &amp; Output</i></td>
        </tr>
        <tr>
            <td>Lesson 3</td>
            <td><b>Sequence 2</b></td>
            <td><i>Variables, Declare &amp; Assign</i></td>
        </tr>
        <tr>
            <td>Lesson 4</td>
            <td><b>Selection 1</b></td>
            <td><i>IF THEN ELSE</i></td>
        </tr>
        <tr>
            <td>Lesson 5</td>
            <td><b>Selection 2</b></td>
            <td><i>Selection - BOOLEAN OPERATORS</i></td>
        </tr>
        <tr>
            <td>Lesson 6</td>
            <td><b>Loops 1</b></td>
            <td><i>FOR</i></td>
        </tr>
        <tr>
            <td>Lesson 7</td>
            <td><b>Loops 2</b></td>
            <td><i>WHILE</i></td>
        </tr>
        <tr>
            <td>Lesson 8</td>
            <td><b>Project 1</b></td>
            <td><i>Project Time</i></td>
        </tr>
        <tr>
            <td>Lesson 9</td>
            <td><b>Project 2</b></td>
            <td><i>Project Time</i></td>
        </tr>
        <tr>
            <td>Lesson 10</td>
            <td><b>Assessment 1</b></td>
            <td><i>Written Assessment</i></td>
        </tr>
        <tr>
            <td>Lesson 11</td>
            <td><b>Assessment 2</b></td>
            <td><i>Feedback and Close</i></td>
        </tr>
    </table>
  </div>
</section>
