<div>
    <div style="display:flex; flex-direction: row">
            <div class="mat-body-1" style="flex:1">
                    {{lo.title}}
            </div>    
        <form>
            <mat-form-field>    
                <mat-select (selectionChange)="onStatusChange($event, lo)">
                    <mat-option value="Not Yet">Not Yet</mat-option>
                    <mat-option value="Nearly There">Nearly There</mat-option>
                    <mat-option value="Got It">Got It</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
  </div>
