<div>
    <div style="display:flex; flex-direction: row">
            <div class="mat-body-1" style="flex:1" class="loButton">
                 <p-splitButton styleClass="{{getLOStyle(status)}}" [label]="lo.title" [model]="items"></p-splitButton>
            </div>  
        <!--      
        <form>
            <mat-form-field>    
                <mat-select (selectionChange)="onStatusChange($event)" [(value)]="status">
                    <mat-option value="Not Yet">Not Yet</mat-option>
                    <mat-option value="Nearly There">Nearly There</mat-option>
                    <mat-option value="Got It">Got It</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    -->
    </div>
  </div>
